<!DOCTYPE html>
<meta charset="utf-8">
<title>NKO</title>
<link href="styles/default.css" type="text/css" rel="stylesheet"/>

<script src="scripts/utils.js"></script>
<script src="scripts/vendor/cookie.js"></script>
<script src="scripts/vendor/jquery.min.js"></script>
<script src="scripts/vendor/jquery-ui.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script data-main="scripts/main" src="scripts/vendor/require.js"></script>
<script type="text/javascript">
    // self-invoke function expression - start loading...
    (function (exports) {
        'use strict';

        var socket, currentPlayer = false;

        if (<%= isProduction %>) {
            console.log('Start "NKO" application in production');
            socket = io.connect('http://dumplings.2013.nodeknockout.com/');
        } else {
        	var socket_path = location.protocol + '//' + location.hostname + ':' + location.port + '/';
            console.log('Start "NKO" application in development on ' + socket_path);
            socket = io.connect(socket_path);
        }

        // make public
        exports.socket = socket;
        exports.log = log;
        exports.current_player = currentPlayer;

        exports.player_move = function (x, y) {
            socket.emit('pm', parseInt(x, 10), parseInt(y, 10));
        };

        exports.broadcasting = function (x, y, type) {
            socket.emit('mc', x, y, type);
        };

        exports.killPlayer = function (id) {
            socket.emit('kill', id);
        };

        exports.server = {
            update: function(uuid, settings) {
                socket.emit('update', uuid, settings);
            },

            say: function(uuid, message) {
                socket.emit('say', uuid, message);
            }
        };

        exports.connect_to_server = function () {
            (function () {
                var settings = {};
                var name = app._getUserName();
                if (name) {
                    settings.name = name;
                }
                socket.emit('play', cookie.get(app.COOKIE), settings);
            }());

            socket.on('ranking', function(ranking) {
                updateRanking(ranking);
            });

            socket.on('mc',function(x, y, type) {
                app.updateMap(x, y, type);
            });

            socket.on('info', function (message) {
                info(message);
            });

            socket.on('play', function (id, x, y) {
    			currentPlayer = app.addPlayer(id, x, y);
    			socket.emit('pm', currentPlayer.tile.x , currentPlayer.tile.y);
                info('Welcome to yet not named project by <em>dumplings</em>!');
            });
            
            socket.on('join', function (player) {
            });

            socket.on('leave', function (player) {
                app.terminateOpponent(player.id);
            });

            socket.on('map', function(map) {
                app.setMap(map);
            });

            socket.on('pm',function (players) {
            	players.forEach(function (player) {
                    var obj;
            		// console.log('player-'+player.id+'-x-'+player.x+'-y-'+player.y);

                    try {
                        obj = app.getPlayerById(player.id);
                    } catch (err) {
                        obj = app.addOpponent(player.id);
                    }

                    if (currentPlayer.id != player.id) {
                        obj.move(player.x,player.y);
                    }
            	});
            });
        };
    }(this));
</script>

<div id="vote">
    <iframe src="http://nodeknockout.com/iframe/dumplings" frameborder=0 scrolling=no allowtransparency=true width=115 height=25></iframe>
</div>

<div id="footer">
    <div id="chat">
        <input id="input" type="text" placeholder="Enter message..." />
        <div id="messages"></div>
    </div>

    <a id="music" href="#">Music on/off</a>

    <div id="ranking"></div>
</div>