<!DOCTYPE html>
<meta charset="utf-8">
<title>NKO</title>
<link href="styles/default.css" type="text/css" rel="stylesheet"/>

<script src="scripts/utils.js"></script>
<script src="scripts/vendor/jquery.min.js"></script>
<script src="scripts/vendor/jquery-ui.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script data-main="scripts/main" src="scripts/vendor/require.js"></script>
<script type="text/javascript">
    // self-invoke function expression - start loading...
    (function (exports) {
        'use strict';

/******************************************************************************/

        var socket, current_player = false;

        if (<%= isProduction %>) {
            console.log('Start "nko" application in production');
            socket = io.connect('http://dumplings.2013.nodeknockout.com/');
        } else {
        	var socket_path = location.protocol + '//' + location.hostname + ':' + location.port + '/';
            console.log('Start "nko" application in development on ' + socket_path);
            socket = io.connect(socket_path);
        }

        // make public
        exports.socket = socket;
        exports.log = log;
        exports.current_player = current_player;

        exports.player_move = function (x, y) {
            socket.emit('pm', parseInt(x, 10), parseInt(y, 10));
        };

        exports.broadcasting = function (x, y, type) {
            // rozglasza wszystkim zmiane
        };

        exports.connect_to_server = function () {

            socket.emit('play');

            socket.on('play', function (id, x, y) {
    			current_player = app.addPlayer(id, true);
    			socket.emit('pm', current_player.tile.x , current_player.tile.y);
                info('Welcome to yet not named project by <em>dumplings</em>!')
            });
            socket.on('join', function (player) {
                var msg = 'Opponent <em>' + player.id + '</em> joined';
                log(msg, 1);
                info('Player <em>' + player.id + '</em> joined from <img src="http://www.geojoe.co.uk/api/flag/?ip=' + player.ip + '" alt="-" />', 1);
            });
            socket.on('leave', function (player) {
                app.terminateOpponent(player.id);
                var msg = 'Opponent <em>' + player.id + '</em> terminated';
                log(msg);
                info(msg);
            });

            socket.on('map', function(map) {
                app.setMap(map);
            });

            socket.on('pm',function (players) {
            	players.forEach(function (player) {
                    var obj;
            		// console.log('player-'+player.id+'-x-'+player.x+'-y-'+player.y);

                    try {
                        obj = app.getPlayerById(player.id);
                    } catch (err) {
                        obj = app.addOpponent(player.id);
                    }

                    if (current_player.id != player.id) {
                        obj.move(player.x,player.y);
                    }
            	});
            });
        };
    }(this));
</script>

<div id="vote">
    <iframe src="http://nodeknockout.com/iframe/dumplings" frameborder=0 scrolling=no allowtransparency=true width=115 height=25></iframe>
</div>

<div id="communication"></div>