<!DOCTYPE html>
<meta charset="utf-8">
<title>nko</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="/socket.io/socket.io.js"></script>

<link href="styles/default.css" type="text/css" rel="stylesheet"/>

<script type="text/javascript">

var nko_vote = '<iframe src="http://nodeknockout.com/iframe/dumplings" frameborder=0 scrolling=no allowtransparency=true width=115 height=25></iframe>';

	if (<%= isProduction %>) {
		var socket = io.connect('http://dumplings.2013.nodeknockout.com/');
	} else {
		console.log('debug')
		var socket = io.connect('http://localhost:8000');
	}

	

	
</script>

<script data-main="scripts/main" src="scripts/vendor/require.js"></script>