#chat {
    float: left;
    width: 50%;
    height: 120px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.9);
    font-size: 13px;
}

#input {
    height: 20px;
    display: block;
    width: 100%;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    padding: 0 0 0 10px;
}
#input:focus {
    -moz-outline: none;
    outline: none;
}


#messages {
    overflow: auto;
    overflow-x: hidden;
    height: 100px;
    padding: 3px 0 0 0;
}

#messages p { padding: 0 10px; }
#messages p mark { background: none; }
#messages p.info mark { color: #777777; font-style: italic; }
#messages p.warn mark { color: #eee; }
#messages p.info mark em { color: #fff799; }
#messages p.warn mark em { color: #ffff4f; }
